<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>MLB Data</title>
    {{> head}}
  </head>

  <script>
    $(document).ready(function() {

      if (/Mobi|Android/i.test(navigator.userAgent)) {
        // mobile!
        $("#loader").css('left', '61%');
      }

      $("#scrapeMLB").click(function(e) {    

        $("#loader").fadeIn();
        $("#loaderBG").fadeIn();

        $("#jsonPre").fadeOut();
        $("#mlbPre").fadeOut();
        $("#mlbPre").text('');

        e.preventDefault();
        $.ajax({   
            type: "POST",
            data : "",
            dataType : 'json',
            cache: false,  
            url: "/scrape",   
            success: function(data){
              console.log('DATA == ' + JSON.stringify(data));

              var jsonObj = JSON.parse(JSON.stringify(data));
              var jsonPretty = JSON.stringify(jsonObj, null, '\t');

              $("#mlbPre").text(data.csv);
              $("#mlbPre").fadeIn();
              $("#jsonPre").fadeIn();

              $("#loader").fadeOut();
              $("#loaderBG").fadeOut();
            }
          });
      });
    });

  </script>

  <body style="overflow-x: hidden;">
    <div class="container">
      <div id="loader" style="left: 53% !important;"></div>

      <div id="loaderBG" class="loaderBG" style="width: 100%; height: 200px; position: absolute; z-index: 10; background: rgb(255, 255, 255) none repeat scroll 0% 0%; opacity: 0.55; top: 20px;display: none;">
      </div>

      <div class="jumbotron" style="border: 1px solid #dedede;">

<!--         <h3>Hello, world!</h3>
        <p>Welcome to your new Node.js app.</p> -->
        <p>
          <div style="width: 220px;margin: 0 auto;">
            <button class="btn btn-info btn-lg" id="scrapeMLB" style="width: 200px;height: 60px;background: #69C;">Get MLB Data</button>
          </div>
        </p>
      </div>
      <pre id="mlbPre" style="display: none;border: 1px solid #dedede;"></pre>


      <pre id="jsonPre" style="display: none;border: 1px solid #dedede;">
                  {
                     "awayTeamOdds":{
                        "averageScore":3.8,
                        "favorite":false,
                        "moneyLine":158,
                        "spreadOdds":-136,
                        "spreadRecord":{
                           "losses":6,
                           "pushes":0,
                           "summary":"5-6",
                           "wins":5
                        },
                        "team":{
                           "abbreviation":"PIT",
                           "displayName":"Pittsburgh Pirates",
                           "id":"23",
                           "logo":"https://a.espncdn.com/i/teamlogos/mlb/500/scoreboard/pit.png",
                           "uid":"s:1~l:10~t:23"
                        },
                        "underdog":true
                     },
                     "details":"WSH -171",
                     "homeTeamOdds":{
                        "averageScore":4.6,
                        "favorite":true,
                        "moneyLine":-171,
                        "spreadOdds":123,
                        "spreadRecord":{
                           "losses":5,
                           "pushes":0,
                           "summary":"6-5",
                           "wins":6
                        },
                        "team":{
                           "abbreviation":"WSH",
                           "displayName":"Washington Nationals",
                           "id":"20",
                           "logo":"https://a.espncdn.com/i/teamlogos/mlb/500/scoreboard/wsh.png",
                           "uid":"s:1~l:10~t:20"
                        },
                        "underdog":false
                     },
                     "overUnder":8.5,
                     "provider":{
                        "id":"25",
                        "name":"Westgate"
                     }
                  }

                   "weather":{
                      "conditionId":"38",
                      "displayValue":"Mostly cloudy",
                      "temperature":49
                   }

                   "venue":{
                      "address":{
                         "city":"Washington",
                         "state":"D.C."
                      },
                      "capacity":41506,
                      "fullName":"Nationals Park",
                      "id":"89",
                      "indoor":false
                   }

       </pre>

    </div>
  </body>
</html>
