<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>SmartStop Registration</title>

    {{> head}}
  </head>
  <script>
    $(document).ready(function() {

      if (/Mobi|Android/i.test(navigator.userAgent)) {
        // mobile!
        $("#wizardLine").css('max-width', '78%');
        $(".stepText").css('width', '100px');
      }

      $("#parentForm").submit(function(e) {    

        e.preventDefault();

        var pwd = $("#pwd").val();
        var pwdConfirm = $("#pwdConfirm").val();

        if (pwd != pwdConfirm) 
        {  
                  $.toast({
                      heading: 'Error',
                      text: 'Passwords do not match.',
                      position: 'top-center',
                      stack: false,
                      icon: 'error',
                      loader: false
                  });
        }
        else
        {
          $("#loader").fadeIn();
          $("#loaderBG").fadeIn();

          $("#formResponseMessage").empty();
          $('#submitBtn').attr('disabled','disabled');

          var serialized = $(this).serialize();
          console.log("FORM DATA == " + serialized);
          
          $.ajax({   
              type: "POST",
              data : serialized,
              dataType : 'json',
              cache: false,  
              url: "/signup",   
              success: function(data){
                  console.log("error RES == " + data.error);
                  console.log("success RES == " + data.success);

                  if (data.error) 
                  {
                    $('#submitBtn').removeAttr('disabled');
                    $("#loader").fadeOut();
                    $("#loaderBG").fadeOut();        
                    $.toast({
                        heading: 'Error',
                        text: data.error,
                        position: 'top-center',
                        stack: false,
                        icon: 'error',
                        loader: false
                    });
                  }
                  if (data.success) 
                  {

                    setTimeout(function(){
                      $("#loader").hide();
                      $("#checkMark").show();
                      $("#checkMark").addClass('animate');
                      setTimeout(function(){location.href = '/verify/sms/'+data.parent.id;},1000);
                    },1500);
                  }     

              }   
          });   
        }

        return false;   
      });

    });

  </script>

  <body>

    <div class="container">
      <div class="background col-sm-6 col-sm-offset-3">
        <div class="logo"></div>
      </div>
    </div>

    <div class="container" style="margin-top: 0px;">

      <div class="row justify-content-center">
        <div class="formDiv col-lg-6 col-sm-offset-3" id="formDiv">    

          <div id="loader"></div>
          <div id="checkMark"></div>

          <div id="loaderBG" class="loaderBG" style="width: 100%;height: 100%;position: absolute;z-index: 10;background: #fff;opacity: 0.65;top: 50px;display: none;">
          </div>

          <!-- Circles which indicates the steps of the form: -->
          <div style="text-align:center;margin-top:10px;">
            <div class="wizardLine" id="wizardLine"></div>

            <ul class="progressWizard">
              <li> <span class="step active"></span> <span class="stepText register">Register</span></li>
              <li><span class="step"></span> <span class="stepText verify">Verify</span></li>
              <li><span class="step"></span> <span class="stepText students">Students</span></li>
              <li><span class="step"></span> <span class="stepText bus">Buses</span></li>
            </ul>
          </div>

          <h1>Register</h1>

          <div class="formResponseMessage" id="formResponseMessage"></div>

          <form action="/signup" method="post" id="parentForm">

            <!--First & Last name -->
            <ul class="list-inline">
              <li style="padding-left: 0px; padding-right: 5px;">
                <div class="form-group col-sm">
                  <label for="fnameField" class="inp">
                    <input type="text" id="fnameField" placeholder="&nbsp;" name="fname" required>
                    <span class="label">First Name</span>
                    <span class="border"></span>
                  </label>
                </div>
              </li>
              <li>
              <div class="form-group col-sm">
                <label for="lnameField" class="inp">
                  <input type="text" id="lnameField" placeholder="&nbsp;" name="lname" required>
                    <span class="label">Last Name</span>
                  <span class="border"></span>
                </label>
              </div>
              </li>
            </ul>

            <div class="form-group">
              <label for="inp" class="inp">
                <input type="text" id="inp" placeholder="&nbsp;" name="email" required>
                <span class="label">Email</span>
                <span class="border"></span>
              </label>
            </div>
            <div class="form-group">
              <label for="phone" class="inp">
                <input type="text" id="phone" placeholder="&nbsp;" name="phone" required>
                <span class="label">Phone Number</span>
                <span class="border"></span>
              </label>
            </div>
            <div class="form-group">
              <label for="pwd" class="inp">
                <input type="password" id="pwd" placeholder="&nbsp;" name="pwd" value="" required>
                <span class="label">Password</span>
                <span class="border"></span>
              </label>
            </div>
            <div class="form-group">
              <label for="pwdConfirm" class="inp">
                <input type="password" id="pwdConfirm" placeholder="&nbsp;" name="pwdConfirm" value="" required>
                <span class="label">Confirm Password</span>
                <span class="border"></span>
              </label>
            </div>

            <button type="submit" class="btn btn-custom" id="submitBtn">Sign Up</button>
          </form>

        </div>

      </div>
    </div>

  </body>
</html>
